body{
    color: #333333;
}

h1, h2, h3, h4, h5, h6{
    color: #333333;    
    opacity: 0.87;      
}


h2 {
    color: #3c3b3b;
    font-size: 1.3em;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 1.65;
    margin: 0 0 0 0;
    text-transform: uppercase;
    
}

.css-1offfwp a {   
    color: #333333; 
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    transition-property: color, border-bottom-color;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;            
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;  
    border-bottom: dotted 2px rgba(160,160,160,.65);
  
}

a:hover {
    color: hotpink;
  }

/*Background da pagina inteira*/
.main.css-k1vhr4.egzxvld3{
    background: #f4f4f4;
}

/*Conteiner princial do curriculo*/
.block-container.css-12oz5g7.egzxvld2 {
    padding: 3em 3em 1em 3em;
    background: #ffffff;
    border: solid 1px rgba(160, 160, 160, 0.3);
    margin: 0 0 2em 0;
    position: relative;
}

/*Imagem do perfil no menu lateral*/
.css-1v0mbdj.etr89bj1{
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

/*Texto do menu lateral*/
.css-1ope8sv.e1fqkh3o4 h2{
    font-size: 1.1em;
    font-weight: 900;
    text-align: center;
    line-height: 1.65;        
    margin: 0%;
    padding-bottom: 2%;
}

.css-1ope8sv.e1fqkh3o4 p{    
    text-align: center;
    
}

/*texto do conteiner princial*/
.block-container.css-12oz5g7.egzxvld2 {
    color: #333333;    
    opacity: 0.87;

}

/*comentario no footer padrao*/
.css-1q1n0ol.egzxvld0 {
    visibility: hidden;
}

/*menu lateral padrao*/
.css-14xtw13.e8zbici0 {
    visibility: hidden;
}



