body{
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;    
    opacity: 0.87;      
}


#jean-lucas-almeida-mota {
    color: #3c3b3b;
    font-size: 1.3em;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    
}

.block-container.css-12oz5g7.egzxvld2 {
    color: #333333;    
    opacity: 0.87;

}

.css-1q1n0ol.egzxvld0 {
    visibility: hidden;
}

.css-14xtw13.e8zbici0 {
    visibility: hidden;
}

